/*
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#infoDIV {
				padding:5px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				height:99%;
				overflow:auto;
				
			}
			
#infoMiniDIV {
				padding:5px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				overflow:auto;
				background-color:#B8CFEE;		
				
			}

#helpDIV {
				padding:15px;
				font:normal 12px arial,tahoma, helvetica, sans-serif;
				height:90%;
				overflow:auto;
				
			}			
			
table.ext {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#15428b;
	border-width: 1px;
	border-color: #bddddd;
	border-collapse: collapse;
	width:90%;
}
table.ext th {
	background-color:#B8CFEE;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #B8CFEE;
}
table.ext tr {
	background-color:#d9e7f8;
}
table.ext td {
	border-width: 1px;
	padding: 1px;
	border-style: solid;
	border-color: #B8CFEE;
}

.flat-table {
  display: block;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  overflow: auto;
  width: 100%;
} 
 
 .flat-table th {
    background-color: rgb(112, 112, 112);
    color: white;
    font-weight: normal;
    padding: 3px 3px;
    text-align: center;
  }
  
 .flat-table tr {
    background-color: #e0e0e0;
    color: white;
    font-weight: normal;
    padding: 3px 3px;
    text-align: center;
  }

 .flat-table .blue {
    background-color: #c3daf9;
  }
  
 .flat-table td {
    /*background-color: rgb(238, 238, 238);*/
    color: rgb(111, 111, 111);
    padding: 3px 3px;
  }
 


			
 /* Button styling for your item: 16x16 transparent png. */
.x-btn .icon-busqueda {
    background-image: url(../resources/images/silk/zoom.png);
}
.x-btn .icon-addwms {
    background-image: url(../resources/images/silk/server_add.png);
}
.x-btn .icon-addkml {
    background-image: url(../ux/oleditor/ole/client/theme/geosilk/img/importFeature.png);
}
.bmenu {
    background-image: url(menu-show.gif) !important;
}
.binfo {
    background-image: url(../resources/images/silk/information.png) !important;
}
.bnav {
    background-image: url(../resources/images/momentum/handtool3.png) !important;
}
.bmed {
    background-image: url(../resources/images/geosilk/ruler.png) !important;
}
.bsearch {
    background-image: url(../resources/images/silk/find.png) !important;
}
.bimp {
    background-image: url(../resources/images/silk/printer.png) !important;
}
.bedit {
    background-image: url(../resources/images/silk/map_edit.png) !important;
}
.x-btn .icon-printscr {
    background-image: url(../resources/images/silk/layers.png);
}
.x-btn .icon-help {
    background-image: url(../resources/images/silk/help.png);
}
.x-btn .icon-dist {
    background-image: url(../resources/images/silk/table.png);
}
.multilineColumn .x-grid3-cell-inner {
            white-space:  normal !important;
}
/*overview map*/
.olControlOverviewMapMinimizeButton,
.olControlOverviewMapMaximizeButton {
    height: 41px !important;
    width: 20px !important;
	bottom: 30px !important;
	background-image: url('../resources/images/openlayers/overviewbutton_min_gray.png') !important;
}
.olControlOverviewMapElement {
		padding: 2px 2px 2px 2px !important;
        background:#dddddd !important;
		
    }
.olControlAttribution{
	bottom:4px !important;
}
.olImageLoadError {
    background-color: orange;
    opacity: 0.1;
    filter: alpha(opacity=10); /* IE */
}

/*google search places*/
.olControlAttribution {
bottom: 0 !important;
}

.olImageLoadError {
background-color: transparent !important;
}

.pac-container {
z-index: 10000
}

.x-btn .icon-map-magnify {
background-image: url("../images/map_magnify.png") !important;
}

/* Google Maps will mess oleDialog up, so set to absolute position */
.oleDialog {
position: absolute;
right: 100px;
}

.olPopup {
z-index: 10000 !important;
}


